<h1>Result</h1>
<!-- <p>Find me in app/views/games/score.html.erb</p>
<h3>Grid</h3>
<%= @grid %>
<h3>Word</h3>
<%= @word %>
<h3>Word in array</h3>
<%= @array %>
<h3>The word is in the array</h3>
<%= @is %>
<h3>The word is an english word</h3> -->
<%= @message %>
<h3>---</h3>
<%= link_to "Play Again", new_path %>

